/* Additional CSS styles  */

.productImg img {
  width: 100%;
  height:
}

.cartLink {
  background-color: #ef7479;
  top: -34px;
  bottom: -34px;
  padding: 5px;
  position: relative;
  display: block;
  opacity: 0;
  transition: opacity 1s;
}

.cartLink:hover {
  background-color: #c35c60;
}

.visable {
  opacity: 1;
}

span strong {
  padding-left: 12px
}

#carouselSlide .carousel-item {
  height: 400px
}
